# Xcode
DerivedData/
*.xcuserdata
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Package.resolved

# Carthage
Carthage/Build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Logs
*.log

# OS files
.DS_Store
